@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 340 75% 96%;
    --foreground: 336 76% 20%;
    --card: 0 0% 100%;
    --card-foreground: 336 76% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 336 76% 20%;
    --primary: 336 82% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 75% 88%;
    --secondary-foreground: 336 76% 30%;
    --muted: 340 75% 92%;
    --muted-foreground: 340 20% 45%;
    --accent: 336 76% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 75% 86%;
    --input: 340 75% 90%;
    --ring: 336 82% 52%;
    --chart-1: 336 82% 52%;
    --chart-2: 336 76% 42%;
    --chart-3: 340 75% 88%;
    --chart-4: 340 75% 80%;
    --chart-5: 340 75% 72%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 336 30% 10%;
    --foreground: 340 75% 95%;
    --card: 336 25% 15%;
    --card-foreground: 340 75% 95%;
    --popover: 336 30% 10%;
    --popover-foreground: 340 75% 95%;
    --primary: 336 82% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 336 25% 20%;
    --secondary-foreground: 340 75% 95%;
    --muted: 336 25% 20%;
    --muted-foreground: 340 20% 70%;
    --accent: 336 76% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 336 25% 20%;
    --input: 336 25% 20%;
    --ring: 336 82% 52%;
    --chart-1: 336 82% 52%;
    --chart-2: 336 76% 42%;
    --chart-3: 340 75% 88%;
    --chart-4: 340 75% 80%;
    --chart-5: 340 75% 72%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
